<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
	<!-- Bootstrap Bundle (includes Popper.js) -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js"
		integrity="sha512-LhccdVNGe2QMEfI3x4DVV3ckMRe36TfydKss6mJpdHjNFiV07dFpS2xzeZedptKZrwxfICJpez09iNioiSZ3hA=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="stylesheet" href="style.css">
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
	<div id="app">
		<header>
			<!-- place navbar here -->
			<div class="center-content">
				<img class="card-img-top logo-sm" src="https://raw.githubusercontent.com/Paciente8159/uCNC/master/docs/logo.png"
					alt="µCNC logo">
				<h1>µCNC configuration generator v2</h1>
			</div>

		</header>
		<div id="app_loader" class="d-flex justify-content-center">
			<div class="spinner-border d-flex justify-content-center text-success" style="width: 3rem; height: 3rem;"
				role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
		</div>
		<main id="app_main" class="d-none">
			<div class="toast-container p-3 bottom-0 end-0">
			<message label="Important notice" labelcolor="darkred" alerttype="danger">Config files of the older web builder
				will not work correctly</message>
			<message label="Issues" labelcolor="black" alerttype="primary">If you encounter any issue please consider
				[submiting an issue in the Github project
				page](https://github.com/Paciente8159/uCNC-config-builder/issues/new), with an
				attached zip with all the override files and the json config file.</message>
				</div>
			<tabgroup id="config-tabs">
				<tab id="basic-config" label="Basic Configuration" tabid="config-tabs" active>
					<div class="mb-3">
						<p>Hi there,</p>
						<p>Welcome to µCNC basic configuration generator.</p>
					</div>

					<controlgroup label="Previous configuration settings">
						<div class="mb-3 load-config">
							<p>If you have a previous stored build configuration file (json) you can load it.</p>
							<input class="form-control form-control" id="load_settings" type="file" accept=".json,.txt">
						</div>
					</controlgroup>
					<accordion id="basic-config-accordion">
						<accordion-card id="basic-config-basic" accordionid="basic-config-accordion" label="Basic settings">

							<combobox name="VERSION" label="What version will you be using?" :opts="app_options.VERSIONS"
								keyname="tag" valname="id"></combobox>

							<combobox name="MCU" label="What MCU family will you be using?" :opts="app_options.MCUS" keyname="id"
								valname="name" configfile="boardmap"></combobox>

							<combobox name="KINEMATIC" label="What type of kinematic does your machine have?"
								:opts="app_options.KINEMATICS" keyname="id" valname="name" configfile="boardmap"></combobox>

							<toggle name="MP_SCARA" label="Is MP Scara. In MP SCARA both shoulder and elbow
							motors are fixed to the base." if="app_state.KINEMATIC=='KINEMATIC_SCARA'"></toggle>

							<range name="AXIS_COUNT" label="How many axis does your machine have?" min="1" max="6" step="1"
								configfile="boardmap" initial="3"></range>

							<combobox name="BAUDRATE" label="What is your COM port baudrate" :opts="app_options.BAUDRATES"
								keyname="id" valname="id" configfile="boardmap"></combobox>

							<toggle name="ENABLE_COOLANT" label="Enable coolant" configfile="hal"></toggle>

						</accordion-card>

						<accordion-card id="basic-config-advanced" accordionid="basic-config-accordion" label="Advanced settings">

							<toggle name="ENABLE_WIFI" label="Enable Wifi" configfile="boardmap"
								tooltip="Available for boards with Wifi (ex: ESP32, RP2040W, etc..)"></toggle>

							<toggle name="ENABLE_BLUETOOTH" label="Enable Bluetooth" configfile="boardmap"
								tooltip="Available for boards with Bluetooth (ex: ESP32, RP2040W, etc..)"></toggle>

							<toggle name="ENABLE_STEPPERS_DISABLE_TIMEOUT" label="Enable stepper idle timeout" configfile="boardmap"
								tooltip="Enables setting $1 to turn off steppers after some idle time"></toggle>

							<toggle name="ENABLE_SKEW_COMPENSATION" label="Enable X-Y-Z axis skew
							compensation" configfile="hal"></toggle>

							<check name="SKEW_COMPENSATION_XY_ONLY" label="Enable skew compensation for
								X-Y axis only" configfile="hal" show="app_state.ENABLE_SKEW_COMPENSATION"></check>

							<toggle name="ENABLE_LINACT_PLANNER" label="Enable linear actuator planner"
								tooltip="This modifies the motion acceleration to support hard direction changes in machines with heavy mobile parts"
								configfile="hal"></toggle>

							<check name="ENABLE_LINACT_COLD_START" label="Linear actuator cold start"
								tooltip="This forces a stop on every direction change" configfile="hal"
								show="app_state.ENABLE_LINACT_PLANNER"></check>

							<toggle name="ENABLE_BACKLASH_COMPENSATION" label="Enable backlash compensation" configfile="hal">
							</toggle>

							<combobox name="ENABLE_S_CURVE_ACCELERATION" label="Enable S-Curve
							acceleration" :opts="app_options.ACCELERATIONS" keyname="id" valname="name" configfile="boardmap" initial="0">
							</combobox>

							<toggle name="BRESENHAM_16BIT" label="Use 16-bit Bresenham step generation" configfile="hal"
								tooltip="Uses a 16-bit algorithm that is faster to compute. Good for machines/or processes that require lots of short length motions like deltas or laser engraving">
							</toggle>

							<toggle name="ENABLE_PIN_DEBUG_EXTRA_CMD" label="Enable extra pin state print commands" configfile="hal"
								tooltip="Enables $P command to print all pins states, stepping positions, encoders positions and system runtime">
							</toggle>

							<toggle name="ENABLE_EXTRA_SETTINGS_CMDS" label="Enable extra settings storage commands" configfile="hal"
								tooltip="Enables commands $SS (Save settings to storage), $SL (Load settings from storage), $SR (Reset settings from storage). This is a great for granullar settings read/write control, specially in Flash storaged settings.">
							</toggle>

							<toggle name="RAM_ONLY_SETTINGS" label="Disables settings storage" configfile="hal"
								tooltip="Disables settings storage. Settings are only kept in RAM and get restored on every power cycle.">
							</toggle>

							<range name="STATUS_AUTOMATIC_REPORT_INTERVAL" label="Automatic
							status report frequency: " min="0" max="1000" step="50" units="ms" configfile="boardmap" initial="0"
								tooltip="Enables automatic status report with a set frequency. This can improve the update rate on your GUI. Values bellow 100ms will have no effect (off)">
							</range>

							<toggle name="ENABLE_G39_H_MAPPING" label="Enable height map generation" configfile="hal"
								tooltip="Enables the creation of height maps that are stored internally and can be reusable.">
							</toggle>

							<range name="H_MAPING_GRID_FACTOR" label="Height map grid factor: " min="2" max="6" step="1" units=""
								configfile="hal" if="app_state.ENABLE_G39_H_MAPPING" initial="2"
								tooltip="Sets the height map number of points. The number of points is [grid factor]^2">
							</range>

							<toggle name="ENABLE_CANNED_CYCLES" label="Enable canned cycles subset" configfile="hal"
								tooltip="Enables canned cycles (subset). G84 is not implemented.">
							</toggle>

							<toggle name="ENABLE_RS274NGC_EXPRESSIONS" label="Enable expression parsing and
							numbered parameters" configfile="hal" tooltip="Enables RS274NGC expressions.">
							</toggle>
							<check name="ENABLE_NAMED_PARAMETERS" label="Enable named parameters" configfile="hal"
								tooltip="This option enables a subset of named parameters. Example &lt_x&gt.
							Read more about it in [LinuxCNC named parameters](https://linuxcnc.org/docs/html/gcode/overview.html#gcode:named-parameters)
							The list of supported name parameters can be found [here](https://github.com/Paciente8159/uCNC/blob/67ded74286b4c7b89f4f4d9cefce221bf577a163/uCNC/src/core/parser_expr.c#L51)" initial
								if="app_state.ENABLE_RS274NGC_EXPRESSIONS">
							</check>
							<check name="ENABLE_O_CODES" label="Enable OCodes (Sub routines)" configfile="hal"
								tooltip="This option enables OCodes sub routines. µCNC sub routines require some sort of file system mounted (like SD card).
							A sub routine should be place in a file in the root of the drive with extension .nc and the name of the OCode (example O100.nc).
							To call that sub routine you can perform a O100 CALL command. OCode files do should contain the sub routine code only.
							The Sub routine file self contains the routine, so you don't need to start the sub routine with O100 SUB and end with O100 ENDSUB. You can read more about [OCodes here](https://linuxcnc.org/docs/html/gcode/o-code.html)"
								initial if="app_state.ENABLE_RS274NGC_EXPRESSIONS">
							</check>

						</accordion-card>
					</accordion>
				</tab>
				<tab id="boardmap-config" label="Board" tabid="config-tabs">
					<controlgroup label="Basic board settings">

						<combobox name="BOARD" label="What board will you be using?" :opts="app_options.BOARDS" keyname="id"
							valname="name" filter="item.mcu.includes(app_state.MCU)" initial="src/hal/boards/avr/boardmap_uno.h">
						</combobox>

						<alert alerttype="info" labelcolor="var(--bs-alert-color)" label="Advanced configurations"
							show="app_state.BOARD=='boardmap_overrides.h'">
							Custom boards might require aditional settings that may not be available in this tool.
							**Check the Custom configurations tab**
							Also might require either a different base board selection on the ini file
							(PlatformIO) or a board type (Arduino IDE). Please refer to the architecture
							documentation or submit a question on Github about custom boards.
						</alert>

					</controlgroup>

					<accordion id="boardmap-config-accordion">
						<accordion-card id="board-basic-config" accordionid="boardmap-config-accordion"
							label="Board Ports and Timers">
							<textfield name="BOARD_NAME" label="The board name printed with $I command?" configfile="hal" tooltip="Name must be between quotation marks
							(string). Ex. 'myboard'" pattern="^(['&quot;])(.*?)\1$" initial="''">
							</textfield>

							<controlgroup label="AVR interrupt on change ports" if="app_state.MCU=='MCU_AVR'">

								<combobox name="PCINT0_PORT" label="In which port are PCINT pins 0 to 7?" :opts="app_options.PORTS"
									filter="item.mcu.includes(app_state.MCU)" keyname="port" valname="port" configfile="boardmap">
								</combobox>

								<combobox name="PCINT1_PORT" label="In which port are PCINT pins 8 to 15?" :opts="app_options.PORTS"
									filter="item.mcu.includes(app_state.MCU)" keyname="port" valname="port" configfile="boardmap">
								</combobox>

								<combobox name="PCINT2_PORT" label="In which port are PCINT pins 16 to 23?" :opts="app_options.PORTS"
									filter="item.mcu.includes(app_state.MCU)" keyname="port" valname="port" configfile="boardmap">
								</combobox>

							</controlgroup>

							<controlgroup label="UART">

								<combobox name="UART_PORT" label="Which hardware port will be UART_PORT?" :opts="app_options.UCNCUARTS"
									filter="item.mcu.includes(app_state.MCU)" keyname="port" valname="port" configfile="boardmap"
									vartype="int" nullable>
								</combobox>

								<combobox name="UART2_PORT" label="Which hardware port will be UART2_PORT?"
									:opts="app_options.UCNCUARTS" filter="item.mcu.includes(app_state.MCU)" keyname="port" valname="port"
									configfile="boardmap" nullable>
								</combobox>

							</controlgroup>

							<controlgroup label="SPI">

								<combobox name="SPI_PORT" label="Which hardware port will be SPI_PORT?" :opts="app_options.UCNCSPI"
									filter="item.mcu.includes(app_state.MCU)" keyname="port" valname="port" configfile="boardmap"
									vartype="int" nullable>
								</combobox>

								<combobox name="SPI2_PORT" label="Which hardware port will be SPI2_PORT?" :opts="app_options.UCNCSPI"
									filter="item.mcu.includes(app_state.MCU)" keyname="port" valname="port" configfile="boardmap"
									nullable>
								</combobox>

							</controlgroup>

							<controlgroup label="I2C">

								<combobox name="I2C_PORT" label="Which hardware port will be I2C_PORT?" :opts="app_options.UCNCI2C"
									filter="item.mcu.includes(app_state.MCU)" keyname="port" valname="port" configfile="boardmap"
									vartype="int" nullable>
								</combobox>

							</controlgroup>

							<repeater label="Timers" :opts="app_options.UCNCTIMERS" keyname="timer" valname="timer"
								filter="item.mcu.includes(app_state.MCU)">
								<template #default="{ value: timer }">
									<combobox :name="timer+'_TIMER'" :label="'Which Timer will be used as ' + timer +'_TIMER?'"
										:opts="app_options.TIMERS" filter="item.mcu.includes(app_state.MCU)" keyname="timer" valname="timer"
										configfile="boardmap" vartype="int" nullable>
									</combobox>
								</template>
							</repeater>
						</accordion-card>
						<accordion-card id="special-outputs-config" label="Special Outputs" accordionid="boardmap-config-accordion">
							<vtable :opts="app_options.UCNCPINS" keyname="pin" valname="pin" filter="item.type.includes('stepper')">
								<template #head>
									<th scope="col">µCNC pin</th>
									<th scope="col">Pin number</th>
									<th scope="col">Pin port</th>
									<th scope="col">IO OFFSET(74HC595)</th>
								</template>
								<template #row="{rowitem}">
									<td><strong>{{rowitem.pin}}</strong></td>
									<td>
										<combobox :name="rowitem.pin+'_PIN'" label="" :opts="app_options.PINS"
											filter="item.mcu.includes(app_state.MCU)" keyname="pin" valname="pin" configfile="boardmap"
											vartype="int" nullable tooltip="Defines the pin gpio number">
										</combobox>
									</td>
									<td>
										<combobox :name="rowitem.pin+'_PORT'" label="" :opts="app_options.PORTS"
											filter="item.mcu.includes(app_state.MCU)" keyname="port" valname="port" configfile="boardmap"
											nullable tooltip="Defines the pin port">
										</combobox>
									</td>
									<td>
										<combobox :name="rowitem.pin+'_IO_OFFSET'" label="" :opts="app_options.IO_OFFSETS" keyname="offset"
											valname="offset" configfile="boardmap" vartype="int" nullable
											tooltip="If this pin is implemented in a 74HC595 (single or daisy-chained) extender this defines the pin offset used for this function. This requires HAL IO extenders to be configured correctly.">
										</combobox>
									</td>
								</template>
							</vtable>
						</accordion-card>
						<accordion-card id="pwms-servos-config" label="PWM & Servos" accordionid="boardmap-config-accordion">
							<vtable :opts="app_options.UCNCPINS" keyname="pin" valname="pin"
								filter="item.type.includes('pwm') || item.type.includes('servo')">
								<template #head>
									<th scope="col">µCNC pin</th>
									<th scope="col">Pin number</th>
									<th scope="col">Pin port</th>
									<th scope="col">CHANNEL</th>
									<th scope="col">TIMER</th>
									<th scope="col" v-if="this.$root.app_state.MCU=='MCU_SAMD21'">MUX</th>
									<th scope="col">IO OFFSET(74HC595)</th>
								</template>
								<template #row="{rowitem}">
									<td><strong>{{rowitem.pin}}</strong></td>
									<td>
										<combobox :name="rowitem.pin+'_PIN'" label="" :opts="app_options.PINS"
											filter="item.mcu.includes(app_state.MCU)" keyname="pin" valname="pin" configfile="boardmap"
											vartype="int" nullable tooltip="Defines the pin gpio number">
										</combobox>
									</td>
									<td>
										<combobox :name="rowitem.pin+'_PORT'" label="" :opts="app_options.PORTS"
											filter="item.mcu.includes(app_state.MCU)" keyname="port" valname="port" configfile="boardmap"
											nullable tooltip="Defines the pin port">
										</combobox>
									</td>
									<td>
										<combobox :name="rowitem.pin+'_CHANNEL'" label="" :opts="app_options.CHANNELS"
											filter="item.mcu.includes(app_state.MCU)" keyname="channel" valname="channel"
											configfile="boardmap" nullable
											tooltip="Defines the PWM channel used by this pin (Architecture dependant)"
											:if="rowitem.type.includes('pwm')">
										</combobox>
									</td>
									<td>
										<combobox :name="rowitem.pin+'_TIMER'" label="" :opts="app_options.TIMERS"
											filter="item.mcu.includes(app_state.MCU)" keyname="timer" valname="timer" configfile="boardmap"
											nullable tooltip="Defines the timer associated to this PWM (Architecture dependant)"
											:if="rowitem.type.includes('pwm')">
										</combobox>
									</td>
									<td v-if="this.$root.app_state.MCU=='MCU_SAMD21'">
										<combobox :name="rowitem.pin+'_MUX'" label="" :opts="app_options.MUXS"
											filter="item.mcu.includes(app_state.MCU)" keyname="mux" valname="mux" configfile="boardmap"
											nullable tooltip="Defines the PWM pin mux (Architecture dependant)"
											:if="rowitem.type.includes('pwm')">
									</td>
									</vcell>
									<td>
										<combobox :name="rowitem.pin+'_IO_OFFSET'" label="" :opts="app_options.IO_OFFSETS" keyname="offset"
											valname="offset" configfile="boardmap" vartype="int" nullable
											tooltip="If this pin is implemented in a 74HC595 (single or daisy-chained) extender this defines the pin offset used for this function. This requires HAL IO extenders to be configured correctly.">
										</combobox>
									</td>
								</template>
							</vtable>
						</accordion-card>
						<accordion-card id="generic-outputs-config" label="Generic outputs" accordionid="boardmap-config-accordion">
							<vtable :opts="app_options.UCNCPINS" keyname="pin" valname="pin" filter="item.type.includes('dout')">
								<template #head>
									<th scope="col">µCNC pin</th>
									<th scope="col">Pin number</th>
									<th scope="col">Pin port</th>
									<th scope="col">IO OFFSET(74HC595)</th>
								</template>
								<template #row="{rowitem}">
									<td><strong>{{rowitem.pin}}</strong></td>
									<td>
										<combobox :name="rowitem.pin+'_PIN'" label="" :opts="app_options.PINS"
											filter="item.mcu.includes(app_state.MCU)" keyname="pin" valname="pin" configfile="boardmap"
											vartype="int" nullable>
										</combobox>
									</td>
									<td>
										<combobox :name="rowitem.pin+'_PORT'" label="" :opts="app_options.PORTS"
											filter="item.mcu.includes(app_state.MCU)" keyname="port" valname="port" configfile="boardmap"
											nullable tooltip="Defines the pin port">
										</combobox>
									</td>
									<td>
										<combobox :name="rowitem.pin+'_IO_OFFSET'" label="" :opts="app_options.IO_OFFSETS" keyname="offset"
											valname="offset" configfile="boardmap" vartype="int" nullable
											tooltip="If this pin is implemented in a 74HC595 (single or daisy-chained) extender this defines the pin offset used for this function. This requires HAL IO extenders to be configured correctly.">
										</combobox>
									</td>
								</template>
							</vtable>
						</accordion-card>
						<accordion-card id="special-inputs-config" label="Controls, Limits and Probe"
							accordionid="boardmap-config-accordion">
							<vtable :opts="app_options.UCNCPINS" keyname="pin" valname="pin"
								filter="item.type.includes('control') || item.type.includes('limit') || item.type.includes('probe')">
								<template #head>
									<th scope="col">µCNC pin</th>
									<th scope="col">Pin number</th>
									<th scope="col">Pin port</th>
									<th scope="col">Pullup</th>
									<th scope="col">ISR</th>
									<th scope="col">IO OFFSET(74HC165)</th>
								</template>
								<template #row="{rowitem}">
									<td><strong>{{rowitem.pin}}</strong></td>
									<td>
										<combobox :name="rowitem.pin+'_PIN'" label="" :opts="app_options.PINS"
											filter="item.mcu.includes(app_state.MCU)" keyname="pin" valname="pin" configfile="boardmap"
											vartype="int" tooltip="Defines the pin gpio number" nullable>
										</combobox>
									</td>
									<td>
										<combobox :name="rowitem.pin+'_PORT'" label="" :opts="app_options.PORTS"
											filter="item.mcu.includes(app_state.MCU)" keyname="port" valname="port" configfile="boardmap"
											nullable tooltip="Defines the pin port">
										</combobox>
									</td>
									<td>
										<toggle :name="rowitem.pin+'_PULLUP'" label="" :opts="app_options.IO_OFFSETS" keyname="offset"
											valname="offset" configfile="boardmap" tooltip="Enables internal weak pull up on this pin">
										</toggle>
									</td>
									<td>
										<toggle :name="rowitem.pin+'_ISR'" label="" :opts="app_options.IO_OFFSETS" keyname="offset"
											valname="offset" configfile="boardmap" if="app_state.MCU!='MCU_AVR'"
											tooltip="Enables interrupt on change on this pin">
										</toggle>
										<combobox :name="rowitem.pin+'_ISR'" label="" :opts="app_options.ISRS" keyname="isr" valname="isr"
											configfile="boardmap" if="app_state.MCU=='MCU_AVR'"
											tooltip="On AVR the interrupt on change feature needs to be set according to the selected pin like [explained here ](https://github.com/Paciente8159/uCNC/wiki/AVR:-Customizing#interrupt-on-change-feature)"
											vartype="int" nullable>
										</combobox>
									</td>
									<td>
										<combobox :name="rowitem.pin+'_IO_OFFSET'" label="" :opts="app_options.IO_OFFSETS" keyname="offset"
											valname="offset" configfile="boardmap" vartype="int" nullable
											tooltip="If this pin is implemented in a 74HC165 (single or daisy-chained) extender this defines the pin offset used for this function. This requires HAL IO extenders to be configured correctly.">
										</combobox>
									</td>
								</template>
							</vtable>
						</accordion-card>
						<accordion-card id="analogs-config" label="Analog inputs" accordionid="boardmap-config-accordion">
							<vtable :opts="app_options.UCNCPINS" keyname="pin" valname="pin"
								filter="item.type.includes('control') || item.type.includes('limit') || item.type.includes('probe')">
								<template #head>
									<th scope="col">µCNC pin</th>
									<th scope="col">Pin number</th>
									<th scope="col">Pin port</th>
									<th scope="col">CHANNEL</th>
									<th scope="col" v-if="this.$root.app_state.MCU=='MCU_STM32H7X'">ADC</th>
								</template>
								<template #row="{rowitem}">
									<td><strong>{{rowitem.pin}}</strong></td>
									<td>
										<combobox :name="rowitem.pin+'_PIN'" label="" :opts="app_options.PINS"
											filter="item.mcu.includes(app_state.MCU)" keyname="pin" valname="pin" configfile="boardmap"
											vartype="int" tooltip="Defines the pin gpio number" nullable>
										</combobox>
									</td>
									<td>
										<combobox :name="rowitem.pin+'_PORT'" label="" :opts="app_options.PORTS"
											filter="item.mcu.includes(app_state.MCU)" keyname="port" valname="port" configfile="boardmap"
											nullable tooltip="Defines the pin port">
										</combobox>
									</td>
									<td>
										<combobox :name="rowitem.pin+'_CHANNEL'" label="" :opts="app_options.ANALOG_CHANNELS"
											keyname="channel" valname="channel" configfile="boardmap"
											tooltip="Selects which ADC will be used with this pin" vartype="int" nullable>
										</combobox>
									</td>
									<td v-if="this.$root.app_state.MCU=='MCU_STM32H7X'">
										<combobox :name="rowitem.pin+'_ADC'" label="" :opts="app_options.ANALOG_ADCS" keyname="adc"
											valname="adc" configfile="boardmap" tooltip="Selects which ADC will be used with this pin"
											vartype="int" nullable>
										</combobox>
									</td>
								</template>
							</vtable>
						</accordion-card>
						<accordion-card id="generic-inputs-config" label="Generic Inputs" accordionid="boardmap-config-accordion">
							<vtable :opts="app_options.UCNCPINS" keyname="pin" valname="pin" filter="item.type.includes('din')">
								<template #head>
									<th scope="col">µCNC pin</th>
									<th scope="col">Pin number</th>
									<th scope="col">Pin port</th>
									<th scope="col">Pullup</th>
									<th scope="col">ISR</th>
									<th scope="col">IO OFFSET(74HC165)</th>
								</template>
								<template #row="{rowitem}">
									<td><strong>{{rowitem.pin}}</strong></td>
									<td>
										<combobox :name="rowitem.pin+'_PIN'" label="" :opts="app_options.PINS"
											filter="item.mcu.includes(app_state.MCU)" keyname="pin" valname="pin" configfile="boardmap"
											vartype="int" nullable tooltip="Defines the pin gpio number">
										</combobox>
									</td>
									<td>
										<combobox :name="rowitem.pin+'_PORT'" label="" :opts="app_options.PORTS"
											filter="item.mcu.includes(app_state.MCU)" keyname="port" valname="port" configfile="boardmap"
											nullable tooltip="Defines the pin port">
										</combobox>
									</td>
									<td>
										<toggle :name="rowitem.pin+'_PULLUP'" label="" :opts="app_options.IO_OFFSETS" keyname="offset"
											valname="offset" configfile="boardmap" tooltip="Enables internal weak pull up on this pin">
										</toggle>
									</td>
									<td>
										<div v-if="rowitem.type.includes('interruptable')">
											<toggle :name="rowitem.pin+'_ISR'" label="" :opts="app_options.IO_OFFSETS" keyname="offset"
												valname="offset" configfile="boardmap" if="app_state.MCU!='MCU_AVR'"
												tooltip="Enables interrupt on change on this pin">
											</toggle>
											<combobox :name="rowitem.pin+'_ISR'" label="" :opts="app_options.ISRS" keyname="isr" valname="isr"
												configfile="boardmap" if="app_state.MCU=='MCU_AVR'"
												tooltip="On AVR the interrupt on change feature needs to be set according to the selected pin like [explained here ](https://github.com/Paciente8159/uCNC/wiki/AVR:-Customizing#interrupt-on-change-feature)"
												vartype="int" nullable>
											</combobox>
										</div>
									</td>
									<td>
										<combobox :name="rowitem.pin+'_IO_OFFSET'" label="" :opts="app_options.IO_OFFSETS" keyname="offset"
											valname="offset" configfile="boardmap" vartype="int" nullable
											tooltip="If this pin is implemented in a 74HC165 (single or daisy-chained) extender this defines the pin offset used for this function. This requires HAL IO extenders to be configured correctly.">
										</combobox>
									</td>
								</template>
							</vtable>
						</accordion-card>
						<accordion-card id="communication-pins-config" label="Communications pinout"
							accordionid="boardmap-config-accordion">
							<vtable :opts="app_options.UCNCPINS" keyname="pin" valname="pin"
								filter="item.type.includes('communications')">
								<template #head>
									<th scope="col">µCNC pin</th>
									<th scope="col">Pin number</th>
									<th scope="col">Pin port</th>
									<th scope="col">Pullup</th>
									<th scope="col">IO OFFSET(74HC595)</th>
								</template>
								<template #row="{rowitem}">
									<td><strong>{{rowitem.pin}}</strong></td>
									<td>
										<combobox :name="rowitem.pin+'_PIN'" label="" :opts="app_options.PINS"
											filter="item.mcu.includes(app_state.MCU)" keyname="pin" valname="pin" configfile="boardmap"
											vartype="int" tooltip="Defines the pin gpio number" nullable>
										</combobox>
									</td>
									<td>
										<combobox :name="rowitem.pin+'_PORT'" label="" :opts="app_options.PORTS"
											filter="item.mcu.includes(app_state.MCU)" keyname="port" valname="port" configfile="boardmap"
											nullable tooltip="Defines the pin port">
										</combobox>
									</td>
									<td>
										<toggle :name="rowitem.pin+'_PULLUP'" label="" :opts="app_options.IO_OFFSETS" keyname="offset"
											valname="offset" configfile="boardmap" tooltip="Enables internal weak pull up on this pin">
										</toggle>
									</td>
									<td>
										<combobox :name="rowitem.pin+'_IO_OFFSET'" label="" :opts="app_options.IO_OFFSETS" keyname="offset"
											valname="offset" configfile="boardmap" vartype="int" nullable
											tooltip="If this pin is implemented in a 74HC595 (single or daisy-chained) extender this defines the pin offset used for this function. This requires HAL IO extenders to be configured correctly."
											:if="rowitem.type.includes('generic_output')">
										</combobox>
									</td>
								</template>
							</vtable>
						</accordion-card>
					</accordion>
				</tab>
				<tab id="hal-config" label="HAL" tabid="config-tabs">

					<accordion id="hal-config-accordion">
						<accordion-card id="hal-config-pin-isr" accordionid="hal-config-accordion" label="Pins on change interrupt">

							<toggle name="FORCE_SOFT_POLLING" label="Force input soft polling" configfile="hal"
								tooltip="Disables all interrupt on change features and monitors inputs only using software polling. Not recommend if using enconders. If you enable this feature it's recommended to enable the feature to check limits and probe in the stepper ISR.">
							</toggle>

							<toggle name="ENABLE_RT_LIMITS_CHECKING" label="Check limits on the stepper ISR" configfile="hal"
								tooltip="This makes the controller check the limit pins state before every motor step. This can increase homing precision.">
							</toggle>

							<toggle name="ENABLE_RT_PROBE_CHECKING" label="Check probe on the stepper ISR" configfile="hal"
								tooltip="This makes the controller check the limit pins state before every motor step. This can increase homing precision.">
							</toggle>

						</accordion-card>

						<accordion-card id="hal-config-control-pins" accordionid="hal-config-accordion" label="Controls pins">

							<toggle name="DISABLE_ALL_CONTROLS" label="Disable all control pins" configfile="hal">
							</toggle>

							<repeater label="Weak pullups" :opts="app_options.CONTROLS" keyname="pin" valname="pin">
								<template #default="{ value: pin }">
									<check :name="pin+'_PULLUP_ENABLE'" :label="'Enable '+pin+' internal weak pullup'" configfile="hal">
									</check>
								</template>
							</repeater>

						</accordion-card>

						<accordion-card id="hal-config-limit-pins" accordionid="hal-config-accordion" label="Limit pins">

							<toggle name="DISABLE_ALL_LIMITS" label="Disable all limit pins" configfile="hal">
							</toggle>

							<repeater label="Weak pullups" :opts="app_options.LIMITS" keyname="pin" valname="pin">
								<template #default="{ value: pin }">
									<check :name="pin+'_PULLUP_ENABLE'" :label="'Enable '+pin+' internal weak pullup'" configfile="hal">
									</check>
								</template>
							</repeater>

						</accordion-card>

						<accordion-card id="hal-config-probe-pin" accordionid="hal-config-accordion" label="Probe">

							<toggle name="DISABLE_PROBE" label="Disable probe pin" configfile="hal">
							</toggle>

							<check name="PROBE_PULLUP_ENABLE'" label="Enable PROBE internal weak pullup" configfile="hal">
							</check>

						</accordion-card>

						<accordion-card id="hal-config-other-io" accordionid="hal-config-accordion" label="Other IO settings">

							<toggle name="DISABLE_HAL_CONFIG_PROTECTION" label="Allow generic inputs to be
								configurable as outputs" configfile="hal" tooltip="By default the user can not reprogram an input pin as an output pin to prevent accidentally connect to driving pins to each other.
								In some cases this may be needed if using generic input pins for communication
								with peripherals using software emulated protocol.">
							</toggle>

						</accordion-card>

						<accordion-card id="hal-config-multiaxis" accordionid="hal-config-accordion" label="Multi motor axis">

							<toggle name="ENABLE_MULTI_STEPPER_AXIS" label="Enable multi-drive axis" configfile="hal"
								tooltip="Enable this if you have one ore more axis that have intependent motor driver signals.">
							</toggle>

							<repeater label="Linear actuators masks" :opts="app_options.LINACTS"
								filter="item.axisnum&lt;app_state.AXIS_COUNT" if="app_state.ENABLE_MULTI_STEPPER_AXIS">
								<template #default="{ item: i }">
									<bitfield bitprefix="STEP" :name="i.name" :label="i.label" :initial="i.value"></bitfield>
								</template>
							</repeater>

							<toggle name="ENABLE_AXIS_AUTOLEVEL" label="Enable AXIS Autolevel" configfile="hal"
								if="app_state.ENABLE_MULTI_STEPPER_AXIS"
								tooltip="Axis autolevel uses multi limit switches coupled with axis with multiple motors, to perform the axis alignment on the homing motion.">
							</toggle>

							<repeater label="Linear actuators masks" :opts="app_options.LINACTS_LIMITS"
								if="app_state.ENABLE_AXIS_AUTOLEVEL">
								<template #default="{ item: i }">
									<bitfield bitprefix="STEP" :name="i.name" :label="i.label" :initial="i.value"
										tooltip="Assign a limit switch to the motor that it will stop when triggered. Limits names are not rigid. You can have a Z bed with 3 motors and you can assign limits Z Z2 and A for example to level the bed.">
									</bitfield>
								</template>
							</repeater>

						</accordion-card>

						<accordion-card id="hal-config-tools" accordionid="hal-config-accordion" label="Tools">

							<alert label="" alerttype="warning" if="!app_state.ENABLE_COOLANT">
								Coolant is disabled! Some options might be ommited.
							</alert>

							<repeater label="Available tools" :opts="app_options.TOOLS">
								<template #default="{ item: i }">
									<combobox :name="'TOOL'+i.tool" :label="'Select TOOL' + i.tool" :opts="app_options.TOOL_OPTIONS"
										keyname="id" valname="name" configfile="hal" nullable tooltip="Defines the tool to be used">
									</combobox>
									<spindlepwm :if="'app_state.TOOL'+i.tool+'==\'spindle_pwm\''"></spindlepwm>
								</template>
							</repeater>
						</accordion-card>
					</accordion>

				</tab>
			</tabgroup>
		</main>
	</div>
	<script src="options.js"></script>
	<script src="containers.js"></script>
	<script src="controls.js"></script>
	<!-- <script src="tools.js"></script> -->
	<script>
		// Vue.config.devtools = true;
		const { createApp } = Vue;
		window.ucnc_app = createApp({
			data() {
				return app_vars;
			},
			mounted(){
				document.getElementById('app_loader').classList.add('d-none');
				document.getElementById('app_main').classList.remove('d-none');
			}
		});

		window.addEventListener("ucnc_tools_loaded", function () {
			window.dispatchEvent(new Event("ucnc_load_components"));
			window.ucnc_app.mount('#app');
		});

		async function ucnc_load_tools() {
			for (let tool of window.app_vars.app_options.TOOL_OPTIONS) {
				try {
					const response = await fetch(`./tools/${tool.id}.js`);
					if (!response.ok) throw new Error(`Failed to fetch ${tool.id}.js`);

					const scriptContent = await response.text();
					new Function(scriptContent)();
				} catch (error) {
					console.error(`Error loading ${tool.id}.js:`, error.message);
				}
			}
			window.dispatchEvent(new Event("ucnc_tools_loaded"));
		}

		ucnc_load_tools();
	</script>
</body>

</html>